.tipRight {
  height: 40px;
  border-bottom: 1px solid #d4dce2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 14px;
}
.bell {
  width: 30px;
}


.dlEdpT {
  background-color: rgb(245, 247, 249);
  border-bottom: 1px solid rgb(212, 220, 226);
  border-color: rgb(212, 220, 226);
  padding: 0.625rem;
}
.hNfACA {
  margin-top: -0.3125rem;
  margin-right: -0.3125rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.gxBwYJ {
  font-family: UntitledSans, apple-system, BlinkMacSystemFont;
  font-size: 0.9375rem;
  letter-spacing: -0.0125em;
  color: rgb(103, 118, 131);
  margin: 0px 0.625rem 0px -0.05em;
}
.fzwgll {
  margin-right: 0.3125rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.ggjvuQ {
  position: relative;
  box-shadow: rgb(212, 220, 226) 0px -1px 0px 0px inset;
}