.tipRight {
  height: 40px;
  border-bottom: 1px solid #d4dce2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 14px;
}
.bell {
  width: 30px;
}
