.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/web/up.png) no-repeat center center;
        svg {
          display: none !important;
        }
      }
    }
  }
  .ant-collapse-item-active {
    .ant-collapse-header {
      color: #0084FF;
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/web/an.png) no-repeat center center;
      }
    }
  }
}
.ant-select-sm .ant-select-selection--single {
  height: 24px;
  border: none;
  .ant-select-selection__rendered {
    .ant-select-selection__rendered {
      color: #9B9B9B;
    }
  }
}
.ant-input-number-disabled {
  border: none;
  background-color: #EDF0F5;
  .ant-input-number-input {
    text-align: center;
  }
}

.ant-select-disabled .ant-select-selection {
  background-color: #EDF0F5;
}

.ant-select-enabled {
  .ant-select-arrow {
    .ant-select-arrow-icon {
      svg {
        color: #0084FF;
      }
    }
  }
  .ant-select-open {
    .ant-select-arrow-icon {
      svg {
        color: #0084FF;
      }
    }
  }
}
html,
body,
#root {
  height: 100%;
  background-color: white;
}
// .ant-collapse {
//   .ant-collapse-item {
//     .ant-collapse-content {
//       .ant-collapse-content-box {
//         display: flex;
//         justify-content: space-around;
//         flex-direction: row;
//         > div {
//           background: #FFFFFF;
//           height: 100px;
//           width: 40%;
//           border: 1px dashed #D3D3D3 !important;
//           display: flex;
//         }
//       }
//     }
//   }
// }
.am-accordion {
  .am-accordion-item {
    border-bottom-color: transparent;
    .am-accordion-header{
   
      i {
        background: url(./assets/web/pack_up_two.png) no-repeat center center;
        svg {
          display: none !important;
        }
      }
    }
  }
  .am-accordion-item-active {
 
    .am-accordion-header {
  
      i {
      
        background: url(./assets/web/an_two.png) no-repeat center center;

      }
    }
  }
}