html,
body,
#root {
  height: 100%;
  background-color: white;
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/web/up.png) no-repeat center center;
        svg {
          display: none !important;
        }
      }
    }
  }
  .ant-collapse-item-active {
    .ant-collapse-header {
      color: #0084ff;
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/web/an.png) no-repeat center center;
      }
    }
  }
}
.ant-select-sm .ant-select-selection--single {
  height: 24px;
  border: none;
  .ant-select-selection__rendered {
    .ant-select-selection__rendered {
      color: #9b9b9b;
    }
  }
}
.ant-input-number-disabled {
  border: none;
  background-color: #edf0f5;
  .ant-input-number-input {
    text-align: center;
  }
}

.ant-select-disabled .ant-select-selection {
  background-color: #edf0f5;
}

.ant-select-enabled {
  .ant-select-arrow {
    .ant-select-arrow-icon {
      svg {
        color: #0084ff;
      }
    }
  }
  .ant-select-open {
    .ant-select-arrow-icon {
      svg {
        color: #0084ff;
      }
    }
  }
}

.am-accordion {
  .am-accordion-item {
    border-bottom-color: transparent;
    .am-accordion-header {
      i {
        transform: rotate(0) !important;
        background: url(./assets/web/pack_up_two.png) no-repeat center center;
        svg {
          display: none !important;
        }
      }
    }
  }
  .am-accordion-item-active {
    .am-accordion-header {
      i {
        transform: rotate(0) !important;
        background: url(./assets/web/an_two.png) no-repeat center center;
      }
    }
  }
}

.am-accordion {
  .am-accordion-item {
    .am-accordion-content {
      overflow: visible !important;
    }
  }
}
