.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/Pack_up.png) no-repeat center center;
        svg {
          display: none !important;
        }
      }
    }
  }
  .ant-collapse-item-active {
    .ant-collapse-header {
      i {
        width: 12px;
        height: 46px;
        background: url(./assets/an.png) no-repeat center center;
      }
    }
  }
}
