.delItem {
  height: 50px;
  background: white;
  border: 1px solid;
  position: fixed;
  bottom: 5px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 50px;
  // position: sticky;
  // bottom: 10px;
  width: 50%;
  right: 0px;
  margin: 0px auto;
}
