.delItem {
    // border: 1px solid;
    position: fixed;
    bottom: 5px;
    margin-left: 10px;
    // text-align: center;
    // font-size: 20px;
    // line-height: 50px;
    // margin: 0px auto;
    /* height: 50px; */
    /* background: white; */
    /* left: -40%; */
    /* width: 100%; */
    /* width: 50%; */
    /* right: 0px; */
}
